.header {

   align-content: center;

   display: flex;
   align-items: center;

   gap: 0 20px;

   background-color: var(--main-color);

   padding-right: 12px;

   margin-bottom: 24px;
   min-height: 56px;

   color: white;

   .app-text {
      display: inline-block;

      font-size: 1.25rem;
      font-weight: 600;
      line-height: 24px;

      vertical-align: middle;
   }

   nav {

      flex-grow: 1;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      /* display: inline-flex;
      align-items: center;

      justify-content: space-between; */

      .left-nav,
      .right-nav,
      .nav-item {
         display: inline-block;
         vertical-align: middle;
         text-align: center;
      }

      li {
         &:not(:last-child) {

            margin-right: 10px;
         }
      }

   }

   a {
      color: white;

      &.active {
         color: yellow;
         font-weight: bold;
      }
   }

}

.btn-auth {
   background-color: white;
   color: var(--main-color);

   font-size: 0.875rem;

   min-height: 32px;

}