.auth-form {

   .auth-card {

      display: flex;
      flex-direction: column;
      gap: 10px;

      background-color: white;
      border: 5px solid var(--main-color);
      color: var(--main-color);

      font-weight: bold;

      padding: 16px;
      margin: 0 auto;

      height: 100%;
      width: 100%;

      h2 {
         flex-grow: 1;
         text-align: center;
      }

      &>*:last-child {
         margin-top: 15px;
      }

   }

   input {

      border: 2px solid black;
      border-radius: 5px;


      color: var(--main-color);

      font-family: inherit;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 22px;

      padding: 5px 10px;

      &:focus {
         outline-color: var(--main-color);
      }
   }


}